@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --primary-color: #2d2254;
  --secondary-color: #f5c427;
  --text-color: #c5bbec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

h1,
h2,
p {
  margin-bottom: 10px;
}

.btn {
  padding: 8px 30px;
  background: var(--secondary-color);
  border-radius: 20px;
  border: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: #fff;
}

.btn:hover {
  transform: scale(0.98);
}

.secondary-text {
  color: var(--secondary-color);
}

.section {
  position: relative;
  padding: 0 20px;
}

/* Section-Top */
.section-top {
  min-height: 500px;
  background: url('https://i.ibb.co/PhVR2Vh/bg1.png') no-repeat center center /
    cover;
}

.section-top .content h1 {
  font-size: 70px;
  line-height: 1.3;
}

.section-top .content {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 55%;
}

/* Section-Stream */
.section-stream {
  background: url('https://i.ibb.co/bsX6RV0/bg2.png') no-repeat center center /
    cover;
  min-height: 700px;
}

.section-stream .play {
  position: absolute;
  width: 27%;
  top: 100px;
  left: 50px;
}

.section-stream h2 {
  font-size: 35px;
}

.section-stream .content {
  position: absolute;
  top: 170px;
  right: 70px;
  width: 50%;
}

.section-stream .content > div,
.section-grid > div {
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
  border-radius: 10px;
}

/* Section-Grid */
.section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  text-align: center;
  margin-top: 30px;
}

.section-grid p {
  color: var(--text-color);
}

.section-grid .dot {
  font-size: 40px;
  padding-left: 2px;
}

/* Footer */
.footer {
  border-top: 1px solid var(--text-color);
  padding: 60px 30px;
  margin-top: 20px;
}
.footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

@media (max-width: 700px) {
  .section-top .content,
  .section-stream .play,
  .section-stream .content {
    position: static;
    width: 100%;
  }
  .section-top {
    min-height: 200px;
    padding-top: 20px;
  }

  .section-top .content {
    text-align: center;
  }

  .section-top .content h1 {
    font-size: 45px;
  }

  .section-stream {
    min-height: 400px;
  }

  .section-stream .play {
    width: 50%;
    display: block;
    margin: 30px auto;
  }

  .section-grid {
    display: block;
    margin-top: 0;
  }

  .footer ul {
    display: block;
  }
}
